{% extends 'base.html.twig' %}

{% block title %}home - daily-qhse
{% endblock %}

{% block body %}

<main class="main">

	<!-- Hero Section -->
	<section id="hero" class="hero section light-background">

		<div class="container">
			<div class="row gy-4">
				<div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
					<h1>Welcome to
						<span>
							DAILY QHSE
						</span>
					</h1>
					<p>Votre blog de référence en matière de la qualité, sécurité, hygiène et environnement !
					</p>
					<div class="d-flex">
						<a href="#about" class="btn-get-started">
							Plongeons ensemble
						</a>
						{# <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center">
								<i class="bi bi-play-circle"></i>
								<span>Voir la  Video</span>
							</a> #}
						<a href="{{ asset('assets/img/yseis/cp-1.mp4') }}"
							class="glightbox btn-watch-video d-flex align-items-center w-100">
							<i class="bi bi-play-circle"></i>
							<span>Voir la Vidéo</span>
						</a>
					</div>
				</div>
			</div>
		</div>

	</section>
	<!-- /Hero Section -->

	<!-- Featured Services Section -->
	<section id="featured-services" class="featured-services section">

		<div class="container">

			<div class="row gy-4">

				<div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
					<div class="service-item position-relative">
						<div class="icon">
							<i class="bi bi-activity icon"></i>
						</div>
						<h4>
							<a href="" class="stretched-link">Ingénierie QHSE
							</a>
						</h4>
						<p>L'ingénierie QHSE (Qualité, Hygiène, Sécurité, Environnement) joue un rôle crucial
							dans les secteurs de l'industrie et de la construction. Elle vise à garantir la qualité
							des produits et services tout en assurant la sécurité des travailleurs et en minimisant
							l'impact environnemental des activités.
						</p>
					</div>
				</div>
				<!-- End Service Item -->

				<div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
					<div class="service-item position-relative">
						<div class="icon">
							<i class="bi bi-bounding-box-circles icon"></i>
						</div>
						<h4>
							<a href="" class="stretched-link">Ingénierie QHSE
							</a>
						</h4>
						<p>L'ingénierie QHSE (Qualité, Hygiène, Sécurité, Environnement) joue un rôle crucial
							dans les secteurs de l'industrie et de la construction. Elle vise à garantir la qualité
							des produits et services tout en assurant la sécurité des travailleurs et en minimisant
							l'impact environnemental des activités.
						</p>
					</div>
				</div>
				<!-- End Service Item -->

				<div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
					<div class="service-item position-relative">
						<div class="icon">
							<i class="bi bi-calendar4-week icon"></i>
						</div>
						<h4>
							<a href="" class="stretched-link">Ingénierie QHSE
							</a>
						</h4>
						<p>L'ingénierie QHSE (Qualité, Hygiène, Sécurité, Environnement) joue un rôle crucial
							dans les secteurs de l'industrie et de la construction. Elle vise à garantir la qualité
							des produits et services tout en assurant la sécurité des travailleurs et en minimisant
							l'impact environnemental des activités.
						</p>
					</div>
				</div>
				<!-- End Service Item -->

				<div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
					<div class="service-item position-relative">
						<div class="icon">
							<i class="bi bi-broadcast icon"></i>
						</div>
						<h4>
							<a href="" class="stretched-link">Ingénierie comme CSPS et EHS
							</a>
						</h4>
						<p>L'ingénierie QHSE (Qualité, Hygiène, Sécurité, Environnement) joue un rôle crucial
							dans les secteurs de l'industrie et de la construction. Elle vise à garantir la qualité
							des produits et services tout en assurant la sécurité des travailleurs et en minimisant
							l'impact environnemental des activités.
						</p>
					</div>
				</div>
				<!-- End Service Item -->

			</div>

		</div>

	</section>
	<!-- /Featured Services Section -->

	<!-- About Section -->
	<section id="about" class="about section light-background">

		<!-- Section Title -->
		<div class="container section-title" data-aos="fade-up">
			<h2>Votre quotidien avec Daily QHSE </h2>
			<p>
				<span>Nous </span>
				<span class="description-title">suivre
				</span>
			</p>
		</div>
		<!-- End Section Title -->

		<div class="container">

			<div class="row gy-3">

				<div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
					<img src="assets/img/about.jpg" alt="" class="img-fluid">
				</div>

				<div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
					<div class="about-content ps-0 ps-lg-3">
						<h3>Coordination des activités en Santé et Sécurité au Travail en BTP et Génie Civil</h3>
						<p class="fst-italic">
							La coordination des activités en Santé et Sécurité au Travail (SST) est essentielle pour
							prévenir les accidents et assurer un environnement de travail sûr
							dans les secteurs du BTP (Bâtiment et Travaux Publics) et du Génie Civil. Voici des conseils
							détaillés pour une gestion efficace de la SST.
						</p>
						<ul>
							<li>
								<i class="bi bi-diagram-3"></i>
								<div>
									<h4>Coordination en conception lors des travaux
									</h4>
									<p>Etude des risques en sécurité, hygiène et environnement de votre site qu'il soit
										en exploitation ou fermé. Une analyse des conditions favorables
										pour la réussite des travaux ainsi que la mission des préventeurs ESH et les
										CSPS par des visites, des animations et formations...</p>
								</div>
							</li>
							<li>
								<i class="bi bi-fullscreen-exit"></i>
								<div>
									<h4>Faire la diffrence entre différents site et les décrets applicables en BTP¨et
										Génie Civile
									</h4>
									<p>Les secteurs du Bâtiment et des Travaux Publics (BTP) et du Génie Civil sont
										régis par une multitude de réglementations et décrets qui varient en fonction du
										pays et des spécificités du site.
										Voici un aperçu des principales différences entre les différents types de sites
										et les décrets applicables dans ces domaines : Batiments et Travaux Public,
										Chantiers de Construction, etc...</p>
									<p>

										Directive 92/57/CEE : Prescriptions minimales de sécurité et de santé pour les
										chantiers temporaires ou mobiles.
										Règlement (UE) 2016/425 : Normes pour les équipements de protection
										individuelle.
										Décrets Spécifiques

										Décret n°2008-244 (France) : Relatif à la sécurité des travailleurs isolés,
										souvent applicable sur les chantiers de grande envergure où des travailleurs
										peuvent se trouver isolés.
										Décret n°94-1159 (France) : Relatif aux plans particuliers de sécurité et de
										protection de la santé (PPSPS), obligatoires pour certains types de chantiers de
										grande ampleur.
										Normes Techniques


									</p>
								</div>
							</li>
						</ul>
						<p>
							Plan de Prévention des Risques (PPR) : Obligation pour les entreprises de mettre en place un
							plan de prévention des risques professionnels spécifiques à chaque chantier.
							Coordination Sécurité et Protection de la Santé (CSPS) : Rôle du coordonnateur SPS sur les
							chantiers de BTP, définis par les décrets nationaux et européens.
						</p>
					</div>

				</div>
			</div>

		</div>

	</section>
	<!-- /About Section -->

	<!-- Skills Section -->
	<section id="skills" class="skills section">

		<div class="container" data-aos="fade-up" data-aos-delay="100">
			<h2>Données statistiques </h2>
			<div class="row skills-content skills-animation">

				<div class="col-lg-6">

					<div class="progress">
						<span class="skill">
							<span>VIC ou Visite d'Inspection Commune </span>
							<i class="val">100%</i>
						</span>
						<div class="progress-bar-wrap">
							<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
								aria-valuemax="100"></div>
						</div>
					</div>
					<!-- End Skills Item -->

					<div class="progress">
						<span class="skill">
							<span>Animation sécurité et les causeries </span>
							<i class="val">90%</i>
						</span>
						<div class="progress-bar-wrap">
							<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
								aria-valuemax="100"></div>
						</div>
					</div>
					<!-- End Skills Item -->

					<div class="progress">
						<span class="skill">
							<span> Revue comptes rendus préventions et suivi consignes </span>
							<i class="val">75%</i>
						</span>
						<div class="progress-bar-wrap">
							<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
								aria-valuemax="100"></div>
						</div>
					</div>
					<!-- End Skills Item -->

				</div>

				<div class="col-lg-6">

					<div class="progress">
						<span class="skill">
							<span>Formation aux outils et vérifications des habilitations </span>
							<i class="val">80%</i>
						</span>
						<div class="progress-bar-wrap">
							<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
								aria-valuemax="100"></div>
						</div>
					</div>
					<!-- End Skills Item -->

					<div class="progress">
						<span class="skill">
							<span> Culture HSE des intervenants </span>
							<i class="val">60%</i>
						</span>
						<div class="progress-bar-wrap">
							<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
								aria-valuemax="100"></div>
						</div>
					</div>
					<!-- End Skills Item -->

					<div class="progress">
						<span class="skill">
							<span>Statistiques des enquêtes du personnel en HSE </span>
							<i class="val">55%</i>
						</span>
						<div class="progress-bar-wrap">
							<div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
								aria-valuemax="100"></div>
						</div>
					</div>
					<!-- End Skills Item -->

				</div>

			</div>

		</div>

	</section>
	<!-- /Skills Section -->

	<!-- Stats Section -->
	<section id="stats" class="stats section">

		<div class="container" data-aos="fade-up" data-aos-delay="100">

			<div class="row gy-4">

				<div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
					<i class="bi bi-emoji-smile"></i>
					<div class="stats-item">
						<span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
							class="purecounter"></span>
						<p>Clients satisfaits </p>
					</div>
				</div>
				<!-- End Stats Item -->

				<div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
					<i class="bi bi-journal-richtext"></i>
					<div class="stats-item">
						<span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
							class="purecounter"></span>
						<p>Projets réalisés </p>
					</div>
				</div>
				<!-- End Stats Item -->

				<div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
					<i class="bi bi-headset"></i>
					<div class="stats-item">
						<span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"
							class="purecounter"></span>
						<p>Temps dédiés </p>
					</div>
				</div>
				<!-- End Stats Item -->

				<div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
					<i class="bi bi-people"></i>
					<div class="stats-item">
						<span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
							class="purecounter"></span>
						<p>Energie </p>
					</div>
				</div>
				<!-- End Stats Item -->

			</div>

		</div>

	</section>
	<!-- /Stats Section -->

	<!-- Clients Section -->
	<section id="clients" class="clients section light-background">

		<div class="container">

			<div class="swiper init-swiper">
				<script type="application/json" class="swiper-config">
					{
						"loop": true,
						"speed": 600,
						"autoplay": {
							"delay": 5000
						},
						"slidesPerView": "auto",
						"pagination": {
							"el": ".swiper-pagination",
							"type": "bullets",
							"clickable": true
						},
						"breakpoints": {
							"320": {
								"slidesPerView": 2,
								"spaceBetween": 40
							},
							"480": {
								"slidesPerView": 3,
								"spaceBetween": 60
							},
							"640": {
								"slidesPerView": 4,
								"spaceBetween": 80
							},
							"992": {
								"slidesPerView": 6,
								"spaceBetween": 120
							}
						}
					}
				</script>
				{# <div class="swiper-wrapper align-items-center">
						<div class="swiper-slide"><img src="assets/img/clients/client-1.png" class="img-fluid border-primary" alt="cairn"></div>
						<div class="swiper-slide"><img src="assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
						<div class="swiper-slide"><img src="assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
						<div class="swiper-slide"><img src="assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
						<div class="swiper-slide"><img src="assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
						<div class="swiper-slide"><img src="assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
						<div class="swiper-slide"><img src="assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
						<div class="swiper-slide"><img src="assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
					</div> #}
			</div>

		</div>

	</section>
	<!-- /Clients Section -->

	<!-- Services Section -->
	<section id="services" class="services section">

		<!-- Section Title -->
		<div class="container section-title" data-aos="fade-up">
			<h2>Consulter les articles </h2>
			<p>
				<span>Articles </span>
				<span class="description-title"> et Nouveautés  </span>
			</p>
		</div>
		<!-- End Section Title -->

		<div class="container">

			<div class="row gy-4">

				{% for article in sevenarticles %}
				<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
					<div class="service-item position-relative">
						<div class="icon">
							{# <i class="bi bi-activity"></i> #}
							<img class="my-2" src="/uploads/articles_images/{{article.imagesReferences}}" alt="{{article.titre}}" width="600px" height="100px"></a>
						</div>
						<a href="" class="stretched-link">

							<h3> {{article.titre }} </h3>
						</a>
						
						<p> {{article.description | slice(0,350) }} ...</p>
					</div>
				</div>
				{% endfor %}
				<!-- End Service Item -->
				<h3 class="text-center "> Voir tous les articles ? cliquer <a href=" {{path('app_listes_articles')}} ">Les articles </a> </h3>

			</div>

		</div>

	</section>
	<!-- /Services Section -->

	<!-- Testimonials Section -->
	<section id="testimonials" class="testimonials section dark-background">

		<img src="assets/img/testimonials-bg.jpg" class="testimonials-bg" alt="">

		<div class="container" data-aos="fade-up" data-aos-delay="100">

			<div class="swiper init-swiper">
				<script type="application/json" class="swiper-config">
					{
						"loop": true,
						"speed": 600,
						"autoplay": {
							"delay": 5000
						},
						"slidesPerView": "auto",
						"pagination": {
							"el": ".swiper-pagination",
							"type": "bullets",
							"clickable": true
						}
					}
				</script>
				<div class="swiper-wrapper">

					<div class="swiper-slide">
						<div class="testimonial-item">
							<img src="assets/img/daouda-picture.jpeg" class="testimonial-img" alt="camara">
							<h3>CAMARA Daouda </h3>
							<h4>Ingénieur Qualité &amp; Conseiller en HSE - Développeur </h4>
							<div class="stars">
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
							</div>
							<p>
								<i class="bi bi-quote quote-icon-left"></i>
								<span>Il y a toujours un talent que vous pouvez acquérir encore davantage en travaillant
									durement. De l'energie, de la passion et du sérieux simplement. Rêver grand et
									croire que tout est possible. </span>
								<i class="bi bi-quote quote-icon-right"></i>
							</p>
						</div>
					</div>
					<!-- End testimonial item -->

					<div class="swiper-slide">
						<div class="testimonial-item">
							<img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
							<h3>CAMARA Daouda </h3>
							<h4>Quality Management Engennering </h4>
							<div class="stars">
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
							</div>
							<p>
								<i class="bi bi-quote quote-icon-left"></i>
								<span>Il y a toujours un talent que vous pouvez acquérir encore davantage en travaillant
									durement. De l'energie, de la passion et du sérieux simplement. Rêver grand et
									croire que tout est possible.</span>
								<i class="bi bi-quote quote-icon-right"></i>
							</p>
						</div>
					</div>
					<!-- End testimonial item -->

					<div class="swiper-slide">
						<div class="testimonial-item">
							<img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
							<h3>Jena Karlis</h3>
							<h4>Store Owner</h4>
							<div class="stars">
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
							</div>
							<p>
								<i class="bi bi-quote quote-icon-left"></i>
								<span>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem
									veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint
									minim.</span>
								<i class="bi bi-quote quote-icon-right"></i>
							</p>
						</div>
					</div>
					<!-- End testimonial item -->

					<div class="swiper-slide">
						<div class="testimonial-item">
							<img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
							<h3>Matt Brandon</h3>
							<h4>Freelancer</h4>
							<div class="stars">
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
							</div>
							<p>
								<i class="bi bi-quote quote-icon-left"></i>
								<span>Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim
									fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem
									dolore labore illum veniam.</span>
								<i class="bi bi-quote quote-icon-right"></i>
							</p>
						</div>
					</div>
					<!-- End testimonial item -->

					<div class="swiper-slide">
						<div class="testimonial-item">
							<img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
							<h3>John Larson</h3>
							<h4>Entrepreneur</h4>
							<div class="stars">
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
							</div>
							<p>
								<i class="bi bi-quote quote-icon-left"></i>
								<span>Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor
									noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse
									veniam culpa fore nisi cillum quid.</span>
								<i class="bi bi-quote quote-icon-right"></i>
							</p>
						</div>
					</div>
					<!-- End testimonial item -->

				</div>
				<div class="swiper-pagination"></div>
			</div>

		</div>

	</section>
	<!-- /Testimonials Section -->

	<!-- Portfolio Section -->
	<section id="portfolio" class="portfolio section">

		<!-- Section Title -->
		<div class="container section-title" data-aos="fade-up">
			<h2>Portfolio</h2>
			<p>
				<span>Voir mes projets dans le secteur de l'Inoovation et &nbsp;</span>
				<span class="description-title">Automobile </span>
			</p>
		</div>
		<!-- End Section Title -->

		<div class="container">

			<div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

				<ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
					<li data-filter="*" class="filter-active">Tous </li>
					<li data-filter=".filter-app">Automobiles </li>
					<li data-filter=".filter-product">Tertiaires</li>
					<li data-filter=".filter-branding">Digitalisations et IT </li>
					<li data-filter=".filter-yseis">Ingenierie QHSE et Coordination Santé et Sécurité </li>
					<li data-filter=".filter-association">Associations </li>
				</ul>
				<!-- End Portfolio Filters -->

				<div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

					<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
						<img src="assets/img/sg/sg-1.jpg" class="img-fluid" alt="">
						<div class="portfolio-info">
							<h4>App 1</h4>
							<p>Lorem ipsum, dolor sit</p>
							<a href="assets/img/sg/sg-1.jpg" title="App 1" data-gallery="portfolio-gallery-app"
								class="glightbox preview-link">
								<i class="bi bi-zoom-in"></i>
							</a>
							<a href="portfolio-details.html" title="More Details" class="details-link">
								<i class="bi bi-link-45deg"></i>
							</a>
						</div>
					</div>
					<!-- End Portfolio Item -->
					<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-yseis">
						<img src="assets/img/yseis/cp-2.jpg" class="img-fluid" alt="">
						<div class="portfolio-info">
							<h4>Présentation Conseiller prévention HSE </h4>
							<p>Rôle du préventeur dans un chantier de construction BTP et en génie civile. </p>
							<a href="assets/img/sg/sg-1.jpg" title="App 1" data-gallery="portfolio-gallery-app"
								class="glightbox preview-link">
								<i class="bi bi-zoom-in"></i>
							</a>
							<a href="portfolio-details.html" title="More Details" class="details-link">
								<i class="bi bi-link-45deg"></i>
							</a>
						</div>
					</div>
					{# CP first  #}
					<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-association">
						<img src="assets/img/association/ass-1.jpg" class="img-fluid" alt="">
						<div class="portfolio-info">
							<h4>BiblioCollect</h4>
							<p>Association pour collecte des articles et distribuer dans des communes et villages au Guidimakha.</p>
							<a href="assets/img/sg/sg-1.jpg" title="App 1" data-gallery="portfolio-gallery-app"
								class="glightbox preview-link">
								<i class="bi bi-zoom-in"></i>
							</a>
							<a href="portfolio-details.html" title="More Details" class="details-link">
								<i class="bi bi-link-45deg"></i>
							</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-association">
						<img src="assets/img/association/ass-1.jpg" class="img-fluid" alt="">
						<div class="portfolio-info">
							<h4>Association Jeunesse de Hassi Chegar </h4>
							<p>Lorem ipsum, dolor sit</p>
							<a href="www.bibliocollectµ.fr" title="App 1" data-gallery="portfolio-gallery-app"
								class="glightbox preview-link">
								<i class="bi bi-zoom-in"></i>
							</a>
							<a href="portfolio-details.html" title="More Details" class="details-link">
								<i class="bi bi-link-45deg"></i>
							</a>
						</div>
					</div>
					
					<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-yseis">
						{# <img src="assets/img/yseis/cp-1.mp4" class="img-fluid" alt=""> #}
						<video controls class="img-fluid">
							<source src="{{ asset('assets/img/yseis/cp-1.mp4') }}" type="video/mp4">
							cliquer
						</video>
						<div class="portfolio-info">
							<h4>Présentation Conseiller prévention HSE </h4>
							<p>Rôle du préventeur dans un chantier de construction BTP et en génie civile. </p>
							<a href="assets/img/sg/sg-1.jpg" title="App 1" data-gallery="portfolio-gallery-app"
								class="glightbox preview-link">
								<i class="bi bi-zoom-in"></i>
							</a>
							<a href="portfolio-details.html" title="More Details" class="details-link">
								<i class="bi bi-link-45deg"></i>
							</a>
						</div>
					</div>
					<!-- End Portfolio Item -->

					<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
						<img src="assets/img/masonry-portfolio/masonry-portfolio-2.jpg" class="img-fluid" alt="">
						<div class="portfolio-info">
							<h4>Product 1</h4>
							<p>Lorem ipsum, dolor sit</p>
							<a href="assets/img/masonry-portfolio/masonry-portfolio-2.jpg" title="Product 1"
								data-gallery="portfolio-gallery-product" class="glightbox preview-link">
								<i class="bi bi-zoom-in"></i>
							</a>
							<a href="portfolio-details.html" title="More Details" class="details-link">
								<i class="bi bi-link-45deg"></i>
							</a>
						</div>
					</div>
					<!-- End Portfolio Item -->

					<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
						<img src="assets/img/masonry-portfolio/masonry-portfolio-3.jpg" class="img-fluid" alt="">
						<div class="portfolio-info">
							<h4>Branding 1</h4>
							<p>Lorem ipsum, dolor sit</p>
							<a href="assets/img/masonry-portfolio/masonry-portfolio-3.jpg" title="Branding 1"
								data-gallery="portfolio-gallery-branding" class="glightbox preview-link">
								<i class="bi bi-zoom-in"></i>
							</a>
							<a href="portfolio-details.html" title="More Details" class="details-link">
								<i class="bi bi-link-45deg"></i>
							</a>
						</div>
					</div>
					<!-- End Portfolio Item -->

					<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
						<img src="assets/img/sg/sg-2.jpg" class="img-fluid" alt="">
						<div class="portfolio-info">
							<h4>App 2</h4>
							<p>Lorem ipsum, dolor sit</p>
							<a href="assets/img/sg/sg-2.jpg" title="App 2" data-gallery="portfolio-gallery-app"
								class="glightbox preview-link">
								<i class="bi bi-zoom-in"></i>
							</a>
							<a href="portfolio-details.html" title="More Details" class="details-link">
								<i class="bi bi-link-45deg"></i>
							</a>
						</div>
					</div>
					<!-- End Portfolio Item -->

					<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
						<img src="assets/img/masonry-portfolio/masonry-portfolio-5.jpg" class="img-fluid" alt="">
						<div class="portfolio-info">
							<h4>Product 2</h4>
							<p>Lorem ipsum, dolor sit</p>
							<a href="assets/img/masonry-portfolio/masonry-portfolio-5.jpg" title="Product 2"
								data-gallery="portfolio-gallery-product" class="glightbox preview-link">
								<i class="bi bi-zoom-in"></i>
							</a>
							<a href="portfolio-details.html" title="More Details" class="details-link">
								<i class="bi bi-link-45deg"></i>
							</a>
						</div>
					</div>
					<!-- End Portfolio Item -->

					<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
						<img src="assets/img/masonry-portfolio/masonry-portfolio-6.jpg" class="img-fluid" alt="">
						<div class="portfolio-info">
							<h4>Branding 2</h4>
							<p>Lorem ipsum, dolor sit</p>
							<a href="assets/img/masonry-portfolio/masonry-portfolio-6.jpg" title="Branding 2"
								data-gallery="portfolio-gallery-branding" class="glightbox preview-link">
								<i class="bi bi-zoom-in"></i>
							</a>
							<a href="portfolio-details.html" title="More Details" class="details-link">
								<i class="bi bi-link-45deg"></i>
							</a>
						</div>
					</div>
					<!-- End Portfolio Item -->

					<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
						<img src="assets/img/sg/sg-3.jpg" class="img-fluid" alt="">
						<div class="portfolio-info">
							<h4>App 3</h4>
							<p>Lorem ipsum, dolor sit</p>
							<a href="assets/img/sg/sg-3.jpg" title="App 3" data-gallery="portfolio-gallery-app"
								class="glightbox preview-link">
								<i class="bi bi-zoom-in"></i>
							</a>
							<a href="portfolio-details.html" title="More Details" class="details-link">
								<i class="bi bi-link-45deg"></i>
							</a>
						</div>
					</div>
					<!-- End Portfolio Item -->

					<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
						<img src="assets/img/masonry-portfolio/masonry-portfolio-8.jpg" class="img-fluid" alt="">
						<div class="portfolio-info">
							<h4>Product 3</h4>
							<p>Lorem ipsum, dolor sit</p>
							<a href="assets/img/masonry-portfolio/masonry-portfolio-8.jpg" title="Product 3"
								data-gallery="portfolio-gallery-product" class="glightbox preview-link">
								<i class="bi bi-zoom-in"></i>
							</a>
							<a href="portfolio-details.html" title="More Details" class="details-link">
								<i class="bi bi-link-45deg"></i>
							</a>
						</div>
					</div>
					<!-- End Portfolio Item -->

					<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
						<img src="assets/img/masonry-portfolio/masonry-portfolio-9.jpg" class="img-fluid" alt="">
						<div class="portfolio-info">
							<h4>Branding 3</h4>
							<p>Lorem ipsum, dolor sit</p>
							<a href="assets/img/masonry-portfolio/masonry-portfolio-9.jpg" title="Branding 2"
								data-gallery="portfolio-gallery-branding" class="glightbox preview-link">
								<i class="bi bi-zoom-in"></i>
							</a>
							<a href="portfolio-details.html" title="More Details" class="details-link">
								<i class="bi bi-link-45deg"></i>
							</a>
						</div>
					</div>
					<!-- End Portfolio Item -->

				</div>
				<!-- End Portfolio Container -->

			</div>

		</div>

	</section>
	<!-- /Portfolio Section -->

	<!-- Team Section -->
	<section id="team" class="team section light-background">

		<!-- Section Title -->
		<div class="container section-title" data-aos="fade-up">
			<h2>Team</h2>
			<p>
				<span>Mes références </span>
				<span class="description-title">Teams</span>
			</p>
		</div>
		<!-- End Section Title -->

		<div class="container">

			<div class="row gy-4">

				<div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
					<div class="team-member">
						<div class="member-img">
							<img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
							<div class="social">
								<a href="">
									<i class="bi bi-twitter-x"></i>
								</a>
								<a href="">
									<i class="bi bi-facebook"></i>
								</a>
								<a href="">
									<i class="bi bi-instagram"></i>
								</a>
								<a href="">
									<i class="bi bi-linkedin"></i>
								</a>
							</div>
						</div>
						<div class="member-info">
							<h4>Yoann FRERE </h4>
							<span>Quality Manager at Saint-Gobain SEKURIT</span>
						</div>
					</div>
				</div>
				<!-- End Team Member -->

				<div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
					<div class="team-member">
						<div class="member-img">
							<img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
							<div class="social">
								<a href="">
									<i class="bi bi-twitter-x"></i>
								</a>
								<a href="">
									<i class="bi bi-facebook"></i>
								</a>
								<a href="">
									<i class="bi bi-instagram"></i>
								</a>
								<a href="">
									<i class="bi bi-linkedin"></i>
								</a>
							</div>
						</div>
						<div class="member-info">
							<h4>Sarah Jhonson</h4>
							<span>Product Manager</span>
						</div>
					</div>
				</div>
				<!-- End Team Member -->

				<div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
					<div class="team-member">
						<div class="member-img">
							<img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
							<div class="social">
								<a href="">
									<i class="bi bi-twitter-x"></i>
								</a>
								<a href="">
									<i class="bi bi-facebook"></i>
								</a>
								<a href="">
									<i class="bi bi-instagram"></i>
								</a>
								<a href="">
									<i class="bi bi-linkedin"></i>
								</a>
							</div>
						</div>
						<div class="member-info">
							<h4>William Anderson</h4>
							<span>CTO</span>
						</div>
					</div>
				</div>
				<!-- End Team Member -->

				<div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
					<div class="team-member">
						<div class="member-img">
							<img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
							<div class="social">
								<a href="">
									<i class="bi bi-twitter-x"></i>
								</a>
								<a href="">
									<i class="bi bi-facebook"></i>
								</a>
								<a href="">
									<i class="bi bi-instagram"></i>
								</a>
								<a href="">
									<i class="bi bi-linkedin"></i>
								</a>
							</div>
						</div>
						<div class="member-info">
							<h4>Amanda Jepson</h4>
							<span>Accountant</span>
						</div>
					</div>
				</div>
				<!-- End Team Member -->

			</div>

		</div>

	</section>
	<!-- /Team Section -->

	<!-- Pricing Section -->
	<section id="pricing" class="pricing section">

		<!-- Section Title -->
		<div class="container section-title" data-aos="fade-up">
			<h2>Se former ou demander un service </h2>
			<p>
				<span>Découvrez les </span>
				<span class="description-title">prix </span>
			</p>
		</div>
		<!-- End Section Title -->

		<div class="container">

			<div class="row gy-3">

				<div class="col-xl-3 col-lg-6 h-45" data-aos="fade-up" data-aos-delay="100">
					<div class="pricing-item">
						<h3>Accompagnement Free </h3>
						<h4>
							<sup> 0</sup>  &euro; <span>
								/ mois</span>
						</h4>
						<ul>
							<li>Orientations pédagogiques </li>
							<li>Création des modéles Dactylo </li>
							<li> Se former sur un outil : WORD - EXCEL </li>
							<li class="na"> Proposer d'autres demandes </li>
						</ul>
						<div class="btn-wrap">
							<a href="#" class="btn-buy"> Valider </a>
						</div>
					</div>
				</div>
				<!-- End Pricing Item -->

				<div class="col-xl-3 col-lg-6 h-45" data-aos="fade-up" data-aos-delay="200">
					<div class="pricing-item featured">
						<h3>Création sites web   </h3>
						<h4>
							<sup>15</sup>  &euro; <span>
								/ mois </span>
						</h4>
						<ul>
							<li>Création d'une application web </li>
							<li>Site web E-commerce </li>
						
							<li>Autres </li>
							<li class="na">Digitaliser QHSE </li>
						</ul>
						<div class="btn-wrap">
							<a href="#" class="btn-buy"> Valider </a>
						</div>
					</div>
				</div>
				<!-- End Pricing Item -->

				<div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="400">
					<div class="pricing-item">
						<h3>Solutions pour l'éducation </h3>
						<h4>
							<sup>10</sup>  &euro;<span>
								/ mois</span>
						</h4>
						<ul>
							<li>Création plateforme scolaire </li>
							<li> Suivi des révisions </li>
							<li> Suivi des révisions </li>
							<li>Création des flyers - posts </li>
						</ul>
						<div class="btn-wrap">
							<a href="#" class="btn-buy">Valider </a>
						</div>
					</div>
				</div>
				<!-- End Pricing Item -->

				<div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="400">
					<div class="pricing-item">
						<span class="advanced"> QHSE </span>
						<h3>Gestion documentaire</h3>
						<h4>
							<sup>400</sup>  &euro; <span>
								</span>
						</h4>
						<ul>
							<li>DOCS-QHSE  </li>
							<li>Maintenance du site </li>
							<li>Mise à jour et évolution </li>
							
							<li>Mise à jour et évolution </li>
						
						</ul>
						<div class="btn-wrap">
							<a href="www.daouda-camara.fr" class="btn-buy">Me contacter </a>
						</div>
					</div>
				</div>
				<!-- End Pricing Item -->

			</div>

		</div>

	</section>
	<!-- /Pricing Section -->

	<!-- Faq Section -->
	<section id="faq" class="faq section light-background">

		<!-- Section Title -->
		<div class="container section-title" data-aos="fade-up">
			<h2>F.A.Q </h2>
			<p>
				<span>Quelques questions </span>
				<span class="description-title">Questions et Réponses </span>
			</p>
		</div>
		<!-- End Section Title -->

		<div class="container">

			<div class="row justify-content-center">

				<div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">

					<div class="faq-container">
					{% for quesAns in qa %}
						
						<div class="faq-item faq-active">
							<h3>  {{ quesAns.question }}</h3>
							<div class="faq-content">
								<p> {{quesAns.reponse }} </p>
							</div>
							<i class="faq-toggle bi bi-chevron-right"></i>
						</div>
					{% endfor %}
						<!-- End Faq item-->

						

					</div>

				</div>
				<!-- End Faq Column-->

			</div>

		</div>

	</section>
	<!-- /Faq Section -->

	<!-- Contact Section -->
	<section id="contact" class="contact section">

		<!-- Section Title -->
		<div class="container section-title" data-aos="fade-up">
			<h2>Contacts</h2>
			<p>
				<span>Besoin d'aide ?</span>
				<span class="description-title">Contacter moi </span>
			</p>
		</div>
		<!-- End Section Title -->

		<div class="container" data-aos="fade-up" data-aos-delay="100">

			<div class="row gy-4">

				<div class="col-lg-5">

					<div class="info-wrap">
						<div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
							<i class="bi bi-geo-alt flex-shrink-0"></i>
							<div>
								<h3>Adresse</h3>
								<p>236 Rue du Clos, Morancé, FR 69480</p>
							</div>
						</div>
						<!-- End Info Item -->

						<div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
							<i class="bi bi-telephone flex-shrink-0"></i>
							<div>
								<h3>Appeler au </h3>
								<p>00 33 659 84 30</p>
							</div>
						</div>
						<!-- End Info Item -->

						<div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
							<i class="bi bi-envelope flex-shrink-0"></i>
							<div>
								<h3>Email</h3>
								<p>daouda.camara.040319@gmail.com</p>
							</div>
						</div>
						<!-- End Info Item -->

						<iframe
							src="https://www.google.com/maps/place/Gare+Part-Dieu+V.Merle/@45.7615819,4.8554879,17z/data=!3m1!4b1!4m6!3m5!1s0x47f4ea62690a3447:0x2464f3b32e0dea57!8m2!3d45.7615782!4d4.8580628!16s%2Fg%2F1tx1sjy7?hl=en&entry=ttu"
							frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen=""
							loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>

				<div class="col-lg-7">
					<form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up"
						data-aos-delay="200">
						<div class="row gy-4">

							<div class="col-md-6">
								<label for="name-field" class="pb-2">Votre nom</label>
								<input type="text" name="name" id="name-field" class="form-control" required="">
							</div>

							<div class="col-md-6">
								<label for="email-field" class="pb-2">Votre email</label>
								<input type="email" class="form-control" name="email" id="email-field" required="">
							</div>

							<div class="col-md-12">
								<label for="subject-field" class="pb-2">Sujet </label>
								<input type="text" class="form-control" name="subject" id="subject-field" required="">
							</div>

							<div class="col-md-12">
								<label for="message-field" class="pb-2">Message</label>
								<textarea class="form-control" name="message" rows="10" id="message-field"
									required=""></textarea>
							</div>

							<div class="col-md-12 text-center">
								<div class="loading">Loading</div>
								<div class="error-message"></div>
								<div class="sent-message">Votre message a bien été envoyé. Merci !</div>

								<button type="submit">Envoyer le message </button>
							</div>

						</div>
					</form>
				</div>
				<!-- End Contact Form -->

			</div>

		</div>

	</section>
	<!-- /Contact Section -->

</main>
{# script pour empecher le téléchargement de la video  #}
<script>
	const lightbox = GLightbox({
		selector: '.glightbox',
		openEffect: 'fade',
		closeEffect: 'fade',
		plyr: {
			config: {
				controls: ['play', 'progress', 'current-time', 'mute', 'volume', 'fullscreen'],
				disableContextMenu: true,
				settings: ['quality', 'speed', 'loop'],
				hideControls: false
			}
		}
	});
</script>
{% endblock %}